@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face { font-family: 'android';
    src:url('../fontes/idroid.otf') format('opentype');}
    *{
        margin:0px;
        padding: 0px;
    }
    
    

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrão: Arial,verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android',cursive;

}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}
a.externo::after {
    content: '\00A0\1f517';/*Para que todo meu link externo fique com o simbolo de link,codigo da emojipidia*/ 

}
p {
    margin: 15px 0px;  /*Para os paragrafos ficarem com espaços entre os titulos*/
}

header {
    background-image:linear-gradient(to bottom,var(--cor3) ,var(--cor5)) ;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;/*para não ficar grudado no meu paragrafo abaixo*/
    text-shadow: 2px 2px 0px rgb(0, 0, 0.267);
}
header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;/*para a letra ficar maior*/
    max-width: 600px;
    padding-left: 10px;/*esse padding é para quando se adaptar no celular ,nao ficar grudado na margem*/
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgb(0, 0, 315);
    margin:auto

}

 nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
 }
 nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
 }
 nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);

 }
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px; /*para a margem do main não ficar colada no rodapé*/
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px; /*para que só minha borda da esquerda fica arrendondada*/
    border-bottom-right-radius: 10px;/*para que só minha borda da direita fica arrendondada*/
}
main  h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1) , transparent);
}
main p {
    margin: 15px 0px;  /*Para os paragrafos ficarem com espaços entre os titulos*/
    text-align: justify;
    text-indent: 30px; /*Para o texto ficar com recuo no começo do paragrafo*/
    line-height: 2em /*distancia entre linhas,ficar melhor pra ler*/;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block; /*para centralizar a imagem*/
    margin:auto;
}
main a {/* todo os links dentro do main estao com as configurações abaixo*/
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);

}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;

}
div.video > iframe {
    position:absolute;
    top: 5%;
    left:5%;
    width: 90%;
    height: 90%;

}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.527);

}
aside >ul {
    list-style-type:'\2714\00A0\00A0';/*Para trocar a bolinha por check,cogidoda emojipedia, as duas barras invertidas é para o simbolo ficar afastado do texte e 00a0 é a distancia. */
    list-style-position: inside;/*Essa configuração é para as bolinhas ficarem dentro da area*/
    columns: 2;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    

}



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}
footer  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
